* {
    font-family: Arial, sans-serif;
}



.container-conta {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;

    .conta {
        box-shadow: 2px 7px 12px #18181dba;
        background: #121212;
        margin: 0 auto;
        border: 2px solid #646cff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 60px;
        border-radius: 7px;

        .back-home {
            align-self: flex-start;
            border-radius: 20px;
            color: #fff;
            font-size: 15px;
            cursor: pointer;

            &:hover {
                background-color: #646cff;
            }
        }

        h2{
            margin-bottom: 12px;
            font-size: 24px;
        }

        button{
            margin: 8px;
        }

        form {
            display: flex;
            flex-direction: column;
            margin: 8px;

            .asterixo{
                color: brown;
            }

            .span-obs{
                font-size: 12px;
                color: #cccccc8f;
                margin-bottom: 12px;
            }
        }

        .inputs {
            display: flex;
            flex-direction: column;
            margin-bottom: 12px;

            label {
                margin-bottom: 5px;
            }

            input{
                padding: 10px 8px;
                border-radius: 6px;
                border: 1px solid #ccc;
                font-size: 1rem;
            }

            select{
                padding: 7px 8px;
                border-radius: 6px;
                border: 1px solid #ccc;
                font-size: 1rem;
            }
            option{
                border-radius: 6px;
                
                &:hover{
                    background-color: #646cff;
                }
            }
            
        }

        p {
            margin-top: 10px;
            font-size: 13px;
            color: #fff;

            a {
                color: #646cff;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}