* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: transparent;
    padding: 20px 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transform: translateY(0);

    &.hidden {
        transform: translateY(-100%);
    }

    &.visible {
        transform: translateY(0);
    }

    &:hover {
        background-color: #121212;
        border-bottom: 1px solid #ffffff52;
    }

    .title-header {
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.3s ease-in;

        .logo {
            font-family: 'Expletus sans', sans-serif;

            &:hover {
                transform: scale(0.96);
                color: #646cff;
            }
        }
    }

    nav {
        display: flex;
        gap: 50px;

        span,
        a {
            text-decoration: none;
            color: #ffffff;
            font-weight: 500;
            transition: color 0.2s;
            font-family: 'open sans', sans-serif;

            &:hover {
                color: #646cff;
                transition: all 0.2s ease;
            }
        }
    }
}