.banner {
    padding: 150px 80px 20px;
    margin: auto 0;
    height: 100vh;
    background: linear-gradient(155deg, #121212, #5058e0, rgb(194, 255, 25));


    .box-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .legend-banner {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;

            h1 {
                font-size: 4.5rem;
                font-family: 'Expletus sans', sans-serif;
                text-shadow: 1px 3px 12px #18181dba;
            }

            p {
                margin-top: 20px;
                font-size: 2rem;
            }
        }

        .section-do-login{
            color: #18181d;

            a{
                color: #000000;
                transition: all 0.2s;

                &:hover{
                    transform: scale(0.96);
                    text-shadow: 1px 3px 12px #18181dba;
                }
            }

            
        }

        button {
            padding: 12px 10px;
            width: 15%;
            margin: 28px;
            background: #18181d;
            font-family: 'karla',sans-serif;
            border-radius: 25px;
            border: 1px solid transparent;
            transition: all 0.2s;
            text-transform: uppercase;
            
            &:hover {
                background-color: #000000;
                border: 1px solid #fff;
                transform: scale(0.96);
            }
        }

        h1 {
            font-family: 'karla', sans-serif;
            font-size: 4rem;
            text-align: center;
        }

        a,
        p {
            font-family: 'open sans', sans-serif;

        }

    }

}